header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--secundary-color);
}

header h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

header h5 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.artistList {
  background-color: var(--principal-color);
  min-height: 100vh;
}

.artistList__list {
  margin: 30px auto;
  max-width: 2100px;
}
